/*@import url(‘https://fonts.googleapis.com/css?family=Josefun+Sans&display=swap’); DID NOT WORK*/

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: #333333;
  font-family: 'Josefun Sans', sans-serif;
}

li {
  list-style: none;
  padding: 0.5rem;
}

.mobileheader h2 {
  color: #d7d7d7;
  padding: 1rem;
}

.topheader {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
  text-align: center;
}

.topheader h2 {
  color: #d7d7d7;
  width: 15%;
  text-align: left;
  margin-bottom: 0;,
}

.topheader ul {
  display: flex;
  justify-content: space-between;
  color: rgb(0, 196, 226);
  padding: 0;
  font-weight: bold;
}

.desktopHeader {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-top: 1rem;
}

.desktopHeader h2 {
  color: #d7d7d7;
  width: 15%;
  text-align: left;
  margin-bottom: 0;
}

.desktopHeader ul {
  display: flex;
  justify-content: space-between;
  color: rgb(0, 196, 226);
  padding: 0;
  font-weight: bold;
}

.blurb {
  color: #d7d7d7;
  font-size: 2.5rem;
  width: 100%;
  padding: 0;
  text-align: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.red {
  color: #fd5c5b;
}

.topnav {
  font-size: 12px;
  display: flex;
  justify-content: space-evenly;
  color: #7a7a7a;
  flex-wrap: wrap;
  font-weight: bolder;
  margin-bottom: 5rem;
  padding: 1rem;
}

img {
  width: 100%;
  height: auto;
}

.mobileImages {
  padding: 0.5rem;
}

.bottom {
  color: #d7d7d7;
  font-size: 2.5rem;
  width: 100%;
  padding: 0;
  text-align: center;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 4rem;
}

button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 25px;
  font-size: 16px;
  width: 35%;
}

.button {
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
}

.computerImages {
  display:none
}

/*Mobile View*/

@media (max-width: 767px) {
  .topheader {
    display: none;
  }
  .desktopHeader {
    display: none;
  }
}

/*Tablet View*/

@media (min-width: 768px) {
  .mobileheader {
    display: none;
  }
  .desktopHeader {
    display: none;
  }
  .blurb {
    color: #d7d7d7;
    font-size: 3rem;
    text-align: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 8rem;
    width: 73%;
    padding-left: 7rem;
  }
  .topnav {
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
    color: #7a7a7a;
    flex-wrap: wrap;
    font-weight: bolder;
    margin-bottom: 5rem;
    padding: 1rem;
  }
  .computerImages {
    display:none
  }
  /*For all images inside an li:*/
  li img {
    width: 23rem;
    height: 20rem;
    /*Use object-fit cover to control how the image is shown. try other options to see what you like*/
    object-fit: cover;
  }

  .images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
  }

  .bottom {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    margin-top: 4rem;
  }

  button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 25px;
    font-size: 16px;
    width: 25%;
  }
  
  .button {
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
  }
}

@media (min-width: 1024px) {
  .mobileheader {
    display: none;
  }
  .topheader {
    display: none;
  }
  .desktopHeader {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 1rem;
  }
  

  .desktopHeader h2 {
    color: #d7d7d7;
    width: 25%;
    text-align: left;
    margin-bottom: 0;
  }
  
  .desktopHeader ul {
    display: flex;
    justify-content: space-between;
    color: rgb(0, 196, 226);
    padding-right: 8rem;
    font-weight: bold;
    width: 30%;
  }

  .topnav {
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
    color: #7a7a7a;
    flex-wrap: wrap;
    font-weight: bolder;
    margin-bottom: 5rem;
    padding: 1rem;
    width:70%;
  }

  button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    width: 15%;
  }
  
  .button {
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
  }

  .mobileImages {
    display:none
  }

  li img {
    width: 23rem;
    height: 20rem;
    /*Use object-fit cover to control how the image is shown. try other options to see what you like*/
    object-fit: cover;
  }

  .computerImages {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
  }

  .topImages {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
