@import url(‘https://fonts.googleapis.com/css?family=Josefun+Sans&display=swap’);
:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: #333333;
  font-family: 'Josefun Sans', sans-serif;
}

li {
  list-style: none;
  padding: .5rem;
}

h2 {
  color: #D7D7D7;
  padding: 1rem;
}

.blurb {
  color: #D7D7D7;
  font-size: 2.5rem;
  width: 100%;
  padding: 0;
  text-align: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.red {
  color: #FD5C5B;
}

.topnav {
  display: flex;
  justify-content: space-evenly;
  color: #7A7A7A;
  flex-wrap: wrap;
  font-weight: bolder;
  margin-bottom: 5rem;
}

img {
  width: 100%;
  height: auto;
}

.images {
  padding: .5rem;
}

.bottom {
  color: #D7D7D7;
  font-size: 3rem;
  width: 100%;
  padding: 0;
  text-align: center;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 4rem;
}

button {
  background-color: black;
  border: none;
  color: white;
  padding: 20px 35px;
  font-size: 16px;
}

.button {
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
}