@import url(‘https://fonts.googleapis.com/css?family=Josefun+Sans&display=swap’);
:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: #333333;
  font-family: 'Josefun Sans', sans-serif;
}

li {
  list-style: none;
}

h2 {
  color: #D7D7D7;
  padding: 1rem;
}

.blurb {
  color: #D7D7D7;
  font-size: 2.5rem;
  width: 100%;
  padding: 0;
  text-align: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.red {
  color: #FD5C5B;
}

ul.topnav {
  display: flex;
  justify-content: center;
  color: #7A7A7A;
}